<div class="save_slot <%= $player[:slot] == 1 ? 'selected' : '' %>">Slot 1</div>
<div class="save_slot <%= $player[:slot] == 2 ? 'selected' : '' %>">Slot 2</div>
<div class="save_slot <%= $player[:slot] == 3 ? 'selected' : '' %>">Slot 3</div>
<p class="up_save">[▲ or ▼] => Select slot</p>
