<h1>You have reached<br>the end of the game</h1>
<br><br><br>
<div>
  <p style='margin-left:10px;'><b>Number of games you won <%= $player[:won_games] %></b></p>
  <p style='margin-left:10px;'><b>Number of games you lost <%= $player[:lost_games] %></b></p>
  <br>
  <p id="start-title">[Start] => New Game</p>
  <p id="select-title">[Select] => Load Game</p>
</div>
