<div class="battle">
	<div class="summary">
		<h1>Victory</h1>
		<h2>You captured a new Moviemon!</h2>
		<p>Press [A] to go back to the World Map</p>
	</div>
	<%= image_tag("download.png", class: 'battle')%>
</div>